<div class="card card-body mt-3">
    <h5>
        {{city}}
    </h5>
    <p>
        Current Temperature: {{Temperature}}°C
        <br>
        Maximum Temperature: {{max_Temperature}}°C
        <br>
        Minimum Temperature: {{min_Temperature}}°C
        <br>
    </p>
</div>

<a href="/">
    <button type="submit" class="btn btn-info mt-3">
        Check Another
    </button>
</a>